<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Smart Car Parking</title>
    <link rel="stylesheet" href="../static/login_and_register.css">
</head>
<body>
    <div class="logo-container">
        <a href="/home">
            <img src='../static/logo.png', filename='logo.png' alt="Logo" width="100" class='logo'>
        </a>
        
        <h1 id="Smart_Car_Parking">IOT-based Smart City Parking</h1>
    </div>

    <div class="auth-container">
        <h2>Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>New user? <a href="/register">Register here</a></p>
    </div>
</body>
</html>
