<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Smart Car Parking</title>
    <link rel="stylesheet" href="../static/login_and_register.css">
</head>
<body>

    
        <div class="logo-container">
            <a href="/home">
                <img src='../static/logo.png', filename='logo.png' alt="Logo" width="100" class='logo'>
            </a>
            <h1 id="Smart_Car_Parking">IOT-based Smart city Parking</h1>
        </div>
    
 

    <div class="auth-container">
        <h2>Register</h2>
        <form action="/register_owner" method="POST">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="phone" placeholder="Phone Number (10 digits)" required pattern="[0-9]{10}">
            <input type="password" name="password" placeholder="Password" required>
            <input type="confirm_password" name="confirm_password" placeholder="confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login_owner">Login</a></p>
    </div>

    <script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/11.10.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.10.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyB7V38r6paGjy6T__Ise-bqbJUD9N6Ghvo",
    authDomain: "smart-city-parking-ff9df.firebaseapp.com",
    projectId: "smart-city-parking-ff9df",
    storageBucket: "smart-city-parking-ff9df.firebasestorage.app",
    messagingSenderId: "258424355309",
    appId: "1:258424355309:web:1a3a42282a68c512fa8fe4",
    measurementId: "G-W9YHRB02T2"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
</body>
</html>
